@use "./colors.module";

.navBar {
  margin: 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid colors.$Grayish-blue;
  .navContainer {
    display: flex;
    align-items: center;
    img {
      width: 137px;
      height: 20px;
    }
    .navList {
      margin-left: 3.5rem;
      display: flex;
      align-items: center;
      height: 112px;
      .listItem {
        margin-right: 1.5rem;
        display: flex;
        align-items: center;
        height: 112px;
        color: colors.$Dark-grayish-blue;
        font-weight: 500;
        border-bottom: 5px solid rgba(0, 0, 0, 0);
        &:hover {
          cursor: pointer;
          border-bottom: 5px solid colors.$Orange;
          color: colors.$Very-dark-blue;
        }
      }
    }
  }

  .cartUserContainer {
    display: flex;
    align-items: center;

    .cart {
      margin-right: 1.5rem;
      position: relative;
      svg {
        &:hover {
          cursor: pointer;
        }
      }
      &:hover #path {
        fill: colors.$Very-dark-blue;
      }
      .numberOfProducts {
        position: absolute;
        background-color: colors.$Orange;
        top: -8px;
        right: -7px;
        width: 20px;
        height: 13px;
        border-radius: 10px;
        text-align: center;
        font-size: 0.7rem;
        color: white;
      }
    }

    .userImage {
      width: 50px;
      height: 50px;
      border: 3px solid rgba(0, 0, 0, 0);
      border-radius: 50%;
      &:hover {
        cursor: pointer;
        border-color: colors.$Orange;
      }
    }
  }
}
